body{
 background-color: rgb(235, 235, 235);
}
.D1{
    font-size: 20px;
    text-align: center;
 color: rgb(0, 0, 0)
 background-color rgb(179, 172, 172);
 
}
input {
 background-color: rgb(179, 172, 172);
 border-color: black;
 



}
.input2{
text-align: center;

}