body{
 background: #171b1f;
}
.D3{
 width: 100vw;
height: 100vh;
background: #171b1f;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: auto;
}
input {
  color:  rgb(26, 134, 68); 
  background-color: black;
 padding: auto;
}

.input1{
 border-color: black;
 color: rgb(26, 134, 68); 
 size: 500px;
 height: 20px;





}
.input2{ 
border-color: black;
color: rgb(26, 134, 68);
size: 500px;
height: 40px;
   }
button{
 color:  rgb(26, 134, 68) ;
 background-color: black ;
 width: 200px;
 height: 20px;
}  



